.bookmark-wrapper {
  width: 100%;
  margin: 3px 0;
  background-color: white;
  border-radius: 4px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
}

.bookmark-wrapper:not(:first-child) {
  margin-top: 7px;
}

.bookmark-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  padding: 5px;
  font-size: 0.85em;
  display: flex;
  align-items: center;
}

.bookmark-delete {
  display: flex;
  align-items: center;
}

.bookmark-delete button {
  display: none;
}

.bookmark-wrapper:hover .bookmark-delete button {
  display: grid;
  border-radius: 100%;
  place-items: center;
  padding: 7px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.bookmark-wrapper:hover .bookmark-delete button:last-child {
  background-color: rgb(177, 49, 40);
}

.bookmark-wrapper:hover .bookmark-delete button:first-child {
  background-color: rgb(40, 99, 177);
}

.bookmark-input {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid black;
  outline: none;
  color: grey;
  box-sizing: border-box;
  width: 100%;
}

.bookmark-title {
  color: grey;
  line-height: 14px;
}